*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.discoverHolder{
    display: flex;
    justify-content: center;
    align-items: start;
}